<div class="mycontainer">
    <div class="card text-white bg-primary m-5" style="max-width: 18rem;">
    <div class="card-header text-center">
        <h2>Montevideo</h2>
        <p>weather image</p>
    </div>
    <div class="card-body">
      <p class="card-text">Summary: Sunny</p>
      <p class="card-text">Temperature: 24 °C</p>
      <p class="card-text">Feels like: 25 °C</p>
      <p class="card-text">Pressure: 1024 hPa</p>
      <p class="card-text">Humidity: 45 %</p>
    </div>
  </div>
</div>

 <!-- waiting for de api key 37dfaef5356ec034e065327cdd3b0093

 https://api.openweathermap.org/data/2.5/weather?q={city name}&appid={API key}

 https://openweathermap.org/current#zip -->

